{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}" />
    <title>Document</title>
  </head>
  <body class="bg-dark-subtle">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
      <a class="navbar-brand">Exam Creator</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'create.subject' %}">Create Subjects</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create.question' %}">Create Questions</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'create.exam' %}">Create Exam</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="form-control m-auto my-5 px-5 w-75" >{% block body %} {% endblock %}</div>
    <div >{% block show %} {% endblock %}</div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'scripts/addChapter.js' %}"></script>
    <script src="{% static 'scripts/addAnswer.js' %}"></script>
    <script src="{% static 'scripts/addExam.js' %}"></script>
    <script src="{% static 'scripts/numQustionHandler.js' %}"></script>

  </body>
</html>
