{% extends 'layouts/base.html' %} {% load static %} {% block title %} Subject
Creator {% endblock %} {% block body %}

<form method="post">
  {% csrf_token %}
  <h2 class="py-5">Create Question</h2>

  <div class="">
    <select class="form-select" name="subject" id="subjectName" onchange="chooseSubject(event)" required>
        <option selected value="">Subject Name</option>
      {% for subject in subjects %}
      
      <option value={{subject.id}}>{{subject.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="">
    <select class="form-select" name="chapter" id="chapterName" hidden required>
        <option selected value="">Chapter name</option>
    </select>
  </div>

  <div class="py-4">
    <textarea
    style="resize: both; width:100%;"
      class="form-text d-block"
      name="question"
      id="question"
      rows="3"
      placeholder="Question"
      required
    ></textarea>
  </div>

  <div class="py-4">
    <input
      class="form-control"
      type="text"
      id="true_answer"
      name="true_answer"
      placeholder="True answer"
      required
    />
  </div>

  <div id="wrong_answer_container" class="form-control">
    <div class="input-group mb-3">
      <input
        class="form-control"
        id="wrong_answer"
        type="text"
        placeholder="Wrong answer"
      />
        <button

          class="btn btn-dark rounded-end-2"
          type="button"
          onclick="addAnswer(event)"
        >
          add
        </button>
      <span class="col-12 text-danger"></span>
    </div>
  </div>

  <div class="my-4">
    <select class="form-select" name="difficulty" id="difficulty" required>
    <option selected value="">Choose Difficulty</option>
      <option value="s">simple</option>
      <option value="d">difficult</option>
    </select>
  </div>

  <div class="my-4">
    <select class="form-select" name="objective" id="objective" required>
        <option selected value="">Choose Objective</option>

      <option value="r">reminding</option>
      <option value="u">understanding</option>
      <option value="c">creativity</option>
    </select>
  </div>

  <div>
    <span id="errorLabel" class="text-danger">

    </span>
    <span id="messageLabel" class="text-success">
      {{massage}}
    </span>
  </div>

  <center>
    <button class="btn btn-dark mb-5 mt-4 px-5" onclick="handleAddQuestion(event)">Add Question</button>
  </center>
</form>

{% endblock %}
