{% extends 'layouts/base.html' %} {% load static %} {% block title %} Subject
Creator {% endblock %} {% block body %}

<form method="post" class="form-control m-auto mt-5 px-5 w-50">
  {% csrf_token %}
  <h1 class="mb-5">Create Exam</h1>

  <div class="">
    <select class="form-select" name="subject" id="subjectName" onchange="chooseSubjectForExam(event)" required>
        <option selected value="">subject name</option>
      {% for subject in subjects %}
      
      <option value={{subject.id}}>{{subject.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mt-5">
    <div class="" name="chapter" id="chapterNameForExam" hidden required>
    </div>
  </div>



<div id="attributesContainerForExam" hidden>
  <div>
    <h3 class="mt-5">Difficulty: </h3>
    <div class="input-group my-1">
      <button class="btn btn-secondary" style="width: 200px;">Difficult</button>
      <input name="d" type="number" class="form-control" placeholder="Number of questions">
    </div>
  
    <div class="input-group">
      <button class="btn btn-secondary" style="width: 200px;">Simple</button>
      <input name="s" type="number" class="form-control" placeholder="Number of questions">
    </div>
  
  </div>
  
  <div>
    <h3 class="mt-5">Objective: </h3>
    <div class="input-group my-1">
      <button class="btn btn-secondary" style="width: 200px;">Reminding</button>
      <input name="r" type="number" class="form-control" placeholder="Number of questions">
    </div>
  
    <div class="input-group my-1">
      <button class="btn btn-secondary" style="width: 200px;">Understanding</button>
      <input name="u" type="number" class="form-control" placeholder="Number of questions">
    </div>
  
    <div class="input-group my-1">
      <button class="btn btn-secondary" style="width: 200px;">Creative</button>
      <input name="c" type="number" class="form-control" placeholder="Number of questions">
    </div>
  
  </div>
  
    <div>
      <span id="errorLabel" class="text-danger">
  
      </span>
      <span id="messageLabel" class="text-success">
        {{massage}}
      </span>
    </div>

    <center>
      <button class="btn btn-secondary mb-5 mt-5 px-5">Create Exam</button>
    </center>
</div>

  
</form>

{% endblock %}
