{% extends 'layouts/base.html' %} {% load static %} {% block title %} Subject
Creator {% endblock %} 

{% block body %}
<div class="my-5">
  <h3>Score</h3>
  <table class="table text-center table-striped table-bordered font-sm mb-0">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Total</th>
        <th scope="col">rate</th>
        <th scope="col">required</th>
      </tr>
    </thead>
    <tbody>
      {% for key,value in question_states.items %}

      <tr>
        {% if key == 'd' %}
        <th scope="row">Difficult</th>
        {% elif key == 's' %}
        <th scope="row">Simple</th>
        {% elif key == 'r' %}
        <th scope="row">Reminding</th>
        {% elif key == 'u' %}
        <th scope="row">Understanding</th>
        {% elif key == 'c' %}
        <th scope="row">Creative</th>
        {% else %}
        <th scope="row">Chapter {{key}}</th>
        {% endif %}

        <td>{{ value.0 }}</td>
        <td>{{ value.1 }}</td>
        <td>{{ value.2 }}</td>
      </tr>

      {% endfor %}
      <tr>
        <th>Score</th>
        <td colspan="3">{{score}}</td>
      </tr>
    </tbody>
  </table>


 <form action="/create/retry/exam/" method="post" class="m-auto d-flex justify-content-end flex-column">
  {% csrf_token %}
  <input name="treeIndex" type="text" value="{{treeIndex}}"hidden>
    <button class="btn btn-dark text-right rounded-top-0" >Improve</button>
 </form>

</div>

{% endblock %}

{% block show %}
<div class="form-control w-75 m-auto mt-5 px-5">
  <div class="my-5">
  <h3>Exam</h3>

    {% for question in questions %}
    <li class="form-control mb-5 container">
      <div class="row m-3">
        <div class="col col-12 col-lg-8 font-sm">
          <h5 class="font-sm" >{{question.0.content}}</h5>
          <div>
            <ul>
              {% for choice in question.1 %} 
              {% if choice.state == 't'%}
              <li class="text-success">{{choice.content}}</li>
              {% else %}
              <li>{{choice.content}}</li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col-12 col-lg-4">
          <table class="table table-bordered font-sm">
            <tr>
              <th scope="col">Chapter</th>
              <td>{{question.0.chapter.name}}</td>
            </tr>
            <tr>
              <th scope="col">Difficulty</th>
              <td>{{question.0.difficulty}}</td>
            </tr>
            <tr>
              <th scope="col">Objective</th>
              <td>{{question.0.objective}}</td>
            </tr>
          </table>
        </div>
      </div>
    </li>
    {% endfor %}
  </div>
</div>
{% endblock %}
